body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}
header nav a {
  background-color: #bbbbbb;
  padding:  0 10px;
}
.center{
   display: block;
  margin-left: auto;
  margin-right: auto;
}
